.ads-text {
  background-color: #923922;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 5px 10px;
}

.ads-text span {
  color: white;
  font-size: 14px;
}

.for-margin {
  margin-right: 4%;
}

/* Navbar */
.custom-navbar {
  background-color: #ffffff !important;
  width: 100%;
  border-top: #923922 2px solid;
  border-bottom: #923922 2px solid;
  padding: 6px 0;
  font-family: 'Inter', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #121212;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 14px;
  padding: 6px 10px;
}

.navbar-nav {
  margin-left: 3%;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

/* Header superior */
.header-top {
  padding: 10px 15px;
  flex-wrap: wrap;
  gap: 15px;
}

.logo-buscador {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-left: 6%;
}

.search-container {
  position: relative;
  width: 355px;
  max-width: 100%;
}

.search-input {
  height: 34px;
  border-radius: 30px;
  padding-left: 35px;
  width: 100%;
  border: none;
  background-color: #e8e8e8;
  font-size: 14px;
  font-weight: 600;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #373737;
}

.icono-header {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

.iconos-esquina {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .ads-text {
    justify-content: center;
    font-size: 13px;
    flex-wrap: wrap;
  }

  .header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-buscador {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-container {
    width: 100%;
    margin: 10px 0;
  }

  .iconos-esquina {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .icono-header {
    width: 22px;
  }

  .custom-navbar {
    padding: 4px;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
