/* Base responsive para celular (imagen arriba y texto abajo) */
.conteiner-Password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-Password {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.linea-personalizada {
    width: 80%;         /* más corta */
    margin: 10px auto;  /* centrada y con menos espacio */
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .text-p {
    font-size: 14px;     /* texto más pequeño */
    color: #555;         /* gris suave */
    text-align: center;  /* centrado */
    line-height: 1.4;
    margin: 10px;
    padding-top: 30px;
  }
  


.btn-Password { 
    height: 50px;
    width: 20%; 

    margin-right: -180px;
    float: right;
    padding: 40px;
    background-color: #923922;
    color: white;
    border-radius: 5px; 
}

.btn-Password p{
    position: absolute;
  transform: translate(-50%, -50%);
}

#img-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: -100px;  
    margin-top: -50px;
    width: 400px;
    height: 400px;
    object-fit: contain;    
}

.text-Password {
    display: block;         
    width: 100vw;             
    max-width: 600px;        
    padding-right: 10px;
    padding-left: 10px;

    margin-bottom: 0.25rem;
    font-weight: 500;
}

.conteiner-Text-Conteiner{
    margin-left: -100px;
}

/* Responsive: centrar en móviles */
@media (max-width: 768px) {
    .btn-Password {
        
        margin: 1rem auto;
        width: 20%; /* o auto / 100% según preferencia */
    }
}


/* Para pantallas grandes: Imagen a la izquierda, texto a la derecha */
@media (min-width: 768px) {
    .conteiner-Password {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    #img-Password {
        margin-left: -300px;
        margin-bottom: 0;
    }


}

/*Prevención xd*/
.btn-Password{
    margin-top: 30px;
    font-size: 20px;
    background-color: #923922; 
    color: white;            
    border: none;           
    padding-left: 200px;   
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: px;
}


.text-Password{
    padding-left: 150px;
    justify-content: center;
    align-items: center;
}



#img-Password{
    width: 500px; 
    height: auto;
}