/* Footer.css */

.footer-container {
    background-color: #A73B3B;
    padding: 40px 20px;
    color: white;
    margin-top: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .footer-columns {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px; /* reduce el espacio debajo del footer */
  }
  
  .col {
    margin-left: 4%;
    margin-bottom: 0; /* elimina espacio extra abajo de cada columna */
  }
  
  .footer-section-title {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    margin-top: 8%;
  }
  
  .footer-container a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-container a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    margin-left: 25%;
    margin-bottom: 0;
  }

  .icono-footer {
    width: 188px;
    height: auto;
    margin-bottom: 0px;
    margin-right: 35%;
    margin-top: 3%;
  }



  /*Redes*/
.socials {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 10px; /* más pequeño que antes */
  margin-left: 25%;
}

  .icono-social {
    width: 24px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .icono-social:hover {
    transform: scale(1.1);
  }
  

  
  
/*Responsive*/
  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-right {
      align-self: center;
      text-align: center;
      margin-left: 0;
      margin-top: 20px;
    }
  
    .icono-footer {
      width: 50px; /* Más pequeño en responsive */
    }
  }
  